<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div style="width:100%; height:50%;" align="center">
    <div id="GMap"></div>
</div>
<div id="mapPositions">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Region</th>
                <th scope="col">Name</th>
                <th scope="col">Tel</th>
                <th scope="col">Email</th>
                <th class="positionTitle" scope="col">Coordinate</th>
            </tr>
        </thead>
        <tbody>
            {% for spot in spotList %}
            <tr class="spot">
                <th scope="row">{{ spot.region }}</th>
                <td>{{ spot.name }}</td>
                <td>{{ spot.tel }}</td>
                <td>{{ spot.email }}</td>
                <td class="position">{{ spot.coordinate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<style>
    #GMap {
        height: 100%;
    }
</style>
<script>
    $(".position").hide();
    $(".positionTitle").hide();

    var map;

    function initMap() {
      var position = $('.position:first').text().split(",");
      map = new google.maps.Map(document.getElementById('GMap'), {
        
        center: {lat: parseFloat(position[0]), lng: parseFloat(position[1])}, // 25.031966, 121.563408
        zoom: 8
      });
      
      $(".position").each(function(){
         var position = $(this).text().split(",");
         if (position.length == 2){ //有 x 與 y
            var x = parseFloat(position[0].trim());
            var y = parseFloat(position[1].trim());
            
            addMarker(x, y);

            
         };
      });
    };
    $(".spot").each(function(){
        $(this).on('click', function(){
            var location = $(this).find(".position").text().split(",");
            var position = {lat: parseFloat(location[0]), lng: parseFloat(location[1])}
            map.setCenter(position);
        })
    });
    function addMarker(x, y) {
      marker = new google.maps.Marker({
        position: {
          lat: x,
          lng: y
        },
        map: map
      });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ apiKey }}&callback=initMap&language=en" async defer></script>